<div [ngClass]="{'Rectangle-left': isOdd(index), 'Rectangle-right': !isOdd(index)}">
    <div>
        <div class="time">
            <img src="../../../assets/images/watch.png" class="iconmonstr-time-2">
            <span class="-hours-ago-by-autho">
                {{time.format(created_at)}} by author
            </span>
        </div>
        <span class="Event-driven-state-m">
            {{story_title}}
        </span>
    </div>
    <div class="Rectangle-Hearth">
        <img *ngIf="!fav" src="../../../assets/images/favorite.png" class="iconmonstr-favorite-2"
            (click)="addToFavorite()">
        <img *ngIf="fav" src="../../../assets/images/fav.png" class="iconmonstr-favorite-2">
    </div>
</div>