.Rectangle {
    width: 550px;
    height: 90px;
    margin: 30px 40px 30px 150px;
    padding: 0 0 0 26px;
    opacity: 0.8;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.iconmonstr-time-2 {
    width: 16px;
    height: 16px;
    margin: 0 8px 6px 0;
    object-fit: contain;
}

.-hours-ago-by-autho {
    width: 110px;
    height: 13px;
    margin: 2px 309px 7px 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #767676;
}

.Event-driven-state-m {
    width: 440px;
    height: 20px;
    margin: 6px 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.25px;
    color: #6b6b6b;
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle-Hearth {
    width: 68px;
    height: 25px;
    margin: 0 0 0 16px;
    padding: 35px 22px 33px;
    border-radius: 6px; 
    background-color: rgba(96,96,96,0.06);
    display: flex;
    justify-content: center;
    align-items: center;
}

img.iconmonstr-favorite-2 {
    width: 24px;
    height: 22px;
    object-fit: contain;
    cursor: pointer;
}