<div class="Rectangle">
    <div>
        <div class="time">
            <img src="../../../assets/images/watch.png" class="iconmonstr-time-2">
            <span class="-hours-ago-by-autho">
                2 hours ago by author
            </span>
        </div>
        <span class="Event-driven-state-m">
            Event-driven state management in React using Storeon
        </span>
    </div>
    <div class="Rectangle-Hearth">
        <img *ngIf="!fav" src="../../../assets/images/favorite.png" class="iconmonstr-favorite-2">
        <img *ngIf="fav" src="../../../assets/images/fav.png" class="iconmonstr-favorite-2">
    </div>
</div>