.Rectangle {
    width: 98px;
    height: 31px;
    border-radius: 2px;
    text-align: center;
    border: solid 1px #d6d6d6;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.All {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
    color: #606060;
}

.My-faves {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
    color: #606060;
}

.Rectangle-Faves {
    width: 98px;
    height: 31px;
    border-radius: 2px;
    border: solid 1px #d6d6d6;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}