<div 
    *ngIf="title == 'All' else favs" 
    [ngClass]="{'Rectangle': !validateAllSelected(), 'RectangleActive': validateAllSelected()}" 
    (click)="tagSelect('All')">
    <span [ngClass]="{'All': !validateAllSelected(), 'textActive': validateAllSelected()}">
        {{title}}
    </span>
</div>

<ng-template #favs> 
    <div 
    [ngClass]="{'Rectangle-Faves': validateAllSelected(), 'RectangleActive': !validateAllSelected()}"  
    (click)="tagSelect('myFaves')">
        <span [ngClass]="{'My-faves': validateAllSelected(), 'textActive': !validateAllSelected()}">
            {{title}}
        </span>
    </div>
</ng-template>
