<div class="pagedContainer">
    <div class="Rectangle-3-Copy-10">
        <div class="Rectangle">
            &lt;
        </div>
    </div>
    <div class="Rectangle-3-Copy-10">
        <div class="Rectangle">
            1
        </div>
    </div>
    <div class="Rectangle-3-Copy-10">
        <div class="Rectangle">
            2
        </div>
    </div>
    <div class="Rectangle-3-Copy-10">
        <div class="Rectangle">
            3
        </div>
    </div>
    <div class="Rectangle-3-Copy-10">
        <div class="Rectangle">
            4
        </div>
    </div>
    <div class="Rectangle-3-Copy-10">
        <div class="Rectangle">
            5
        </div>
    </div>
    <div class="Rectangle-3-Copy-10">
        <div class="Rectangle">
            6
        </div>
    </div>
    <div class="Rectangle-3-Copy-10">
        <div class="Rectangle">
            7
        </div>
    </div>
    <div class="Rectangle-3-Copy-10">
        <div class="Rectangle">
            8
        </div>
    </div>
    <div class="Rectangle-3-Copy-10">
        <div class="Rectangle">
            9
        </div>
    </div>
    <div class="Rectangle-3-Copy-10">
        <div class="Rectangle">
            &gt;
        </div>
    </div>
</div>

