<div class="pagedContainer">
    <div class="Rectangle-3-Copy-10">
        <div class="Rectangle">
            &lt;
        </div>
    </div>
    <div *ngFor="let p of pages; let i = index">
        <div *ngIf="i<=8">
            <div *ngIf="page != p else selected" class="Rectangle-3-Copy-10" (click)="changePage(p)">
                <div class="Rectangle">
                    {{p}}
                </div>
            </div>
            <ng-template #selected>
                <div class="Rectangle-Active">
                    <span class="text-Active">
                        {{p}}
                    </span>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="Rectangle-3-Copy-10">
        <div class="Rectangle">
            &gt;
        </div>
    </div>
</div>