<div class="grid-container">                                                                                                                                                                                                                                                                                                                                                                    
    <app-card  *ngFor="let article of info; index as i"
    [story_url]="article.story_url"
    [story_title]="article.story_title"
    [created_at]="article.created_at"
    [author]="article.author"
    [index]="i"
    (deleted)="deleteFav($event)"
    ></app-card>
</div>
